<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky d-flex flex-column">
        <ul class="nav flex-column mb-auto">
            <li class="nav-item">
                <a class="nav-link active " href="/" aria-current="page">
                    <img src="/img/LFW-R.png" alt="Logo" class="logo" width="64" height="64">
                    LFWR
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/admin" aria-current="page">
                    <i class="bi bi-house-door-fill"></i>
                    Dashboard admin
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/gererGestionnaire">
                    <i class="bi bi-people-fill"></i>
                    Gestionnaires des équipes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/gererArbitres/">
                    <i class="bi bi-eye"></i>
                    Arbitres
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/gererStades">
                    <i class="bi bi-geo-alt"></i>
                    Stades
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/gererArticles">
                    <i class="bi bi-newspaper"></i>
                    Articles
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/gererMatches">
                    <i class="bi bi-calendar-event"></i>
                    Matches
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/gererEquipes">
                    <i class="bi bi-people"></i>
                    Equipes
                </a>
            </li>
        </ul>
        <ul class="nav flex-column mt-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">
                    <i class="bi bi-box-arrow-left m pb-2" style="color: #fe0800"></i>
                    Se déconnecter
                </a>
            </li>
        </ul>
    </div>
</nav>