<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky d-flex flex-column">
        <ul class="nav flex-column mb-auto">
            <li class="nav-item">
                <a class="nav-link active" href="/compteGestionnaire/<%= userId %>" aria-current="page">
                    <i class="bi bi-house-door-fill"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/monequipe/<%= userId %>">
                    <i class="bi bi-people-fill"></i>
                    Mon équipe
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gererjoueurs/<%= userId %>">
                    <i class="bi bi-person-lines-fill"></i>
                    Gestion des Joueurs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-broadcast"></i>
                    Match en temps reel
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-patch-question"></i>
                    About
                </a>
            </li>
        </ul>
        <ul class="nav flex-column mt-auto">
            <li class="nav-item">
                <a class="nav-link" href="/login">
                    <i class="bi bi-box-arrow-left m pb-2" style="color: #fe0800;"></i>
                    Se déconnecter
                </a>
            </li>
        </ul>
    </div>
</nav>