* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow: auto;
}

nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, #00330d, #002657);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    z-index: 1;
}
.logo {
    height:150px;
    width:150px; 
}
nav a:not(:last-child) {
    margin-right: 10px;
}
.search-form {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.search-form input {
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.search-form button {
    padding: 5px 10px;
    background-color: #0ed53a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .search-form {
        margin-top: 10px;
    }
}
.social-icons {
    display: flex;
    align-items: center;
}

.social-icon {
    width: 30px; 
    margin-right: 0%;
}

nav a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}

nav span {
    position: absolute;
    top: 0;
    left: 14%;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, #70e040, #1bffff);
    border-radius: 8px;
    transition: left .5s ease, width .5s ease;
}
nav a:nth-child(1):hover~span {
    left: 15%;
    width: 95px;
}

nav a:nth-child(2):hover~span {
    left: 15%;
    width: 95px;
}

nav a:nth-child(3):hover~span {
    left: 20.5%;
    width: 110px;
}

nav a:nth-child(4):hover~span {
    left: 28.5%;
    width: 115px;
}

nav a:nth-child(5):hover~span {
    left: 38%;
    width: 110px;
}

nav a:nth-child(6):hover~span {
    left: 47%;
    width: 95px;
}
nav a:nth-child(7):hover~span {
    left: 54%;
    width: 200px;
}
.article-container {
    margin-top: 20px;
    padding: 30px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.article-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.article-meta {
    font-style: italic;
    color: #888;
    margin-bottom: 20px;
    text-align: center;
}

.article-img {
    display: block;
    margin: 0 auto;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: auto;
}

.article-description {
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    color: #333; /* Dark text color */
}

.likes-comments-count {
    font-size: 14px;
    color: #888;
    text-align: right;
    margin-top: 20px;
}

.share-buttons {
    text-align: center;
    margin-top: 20px;
}

.comment-section {
    margin-top: 40px;
}

.comment-input {
    width: 100%;
    max-width: 500px;
    height: 100px;
    resize: none;
    margin: 0 auto 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.6;
}

.comment-submit {
    width: 120px;
    margin: 0 auto;
    display: block;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-submit:hover {
    background-color: #0056b3;
}