body {
    font-size: .875rem;

}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

.feather {
    width: 16px;
    height: 16px;
}



.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto;

}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
}

/*
   * Navbar
   */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
}

.navbar .form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

.dark-mode .navbar {
    background-color: #333333;
    color: #ffffff;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}



.active {
    color: rgb(221, 6, 6);
}

.nav-item:hover {
    background-color: #f0f0f0;
    /* Change background color on hover */
}

.nav-link:hover {
    color: #1f3547;
    /* Change text color on hover */
}

.search-container input[type="search"].form-control:focus {
    background-color: #7193b5;
    /* Change background color when focused */
}

.search-container {
    position: relative;
    cursor: pointer;
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    pointer-events: none;

}

.form-control {
    padding-right: 35px;
    border-radius: 50px;
}

/* Add this CSS to your stylesheet */

/* Apply fade animation to alerts */
.alert {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/* Apply fade out animation when alert is dismissed */
.alert.hide {
    opacity: 0;
}

/* Add a slight delay before starting the fade out animation */
.alert.hide.delay {
    transition-delay: 1s;
    /* Delay for 1 second before starting the fade out */
}

/* Add margin to separate alerts */
.alert+.alert {
    margin-top: 10px;
}

.profile-card {

    margin-left: 240px;
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #16659E
}

h5 {
    font-weight: bold;
}