body {
    font-size: .875rem;

}

body.dark-mode {
    background-color: #222831;
    color: #fff;
}

.feather {
    width: 16px;
    height: 16px;
}



.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto;

}

/* Light mode styles */
.sidebar .nav-link {
    font-weight: 500;
    color: #000;
    /* Black color */
}

/* Dark mode styles */
.dark-mode .sidebar .nav-link {
    font-weight: 500;
    color: #8ed5e8;
    /* Custom color for dark mode */
}


.sidebar .nav-linkdeco {

    font-weight: 500;
    color: #DA3E52;
    position: relative;
    top: -30px;
    left: 15px;
    cursor: pointer;
}




.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

/* Light mode styles */
.sidebar .nav-link.active {
    color: #0a80f7;
    /* Light mode text color */
}

/* Dark mode styles */
.dark-mode .sidebar .nav-link.active {
    color: #fff;
    /* Dark mode text color */
}


.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
}

/*
   * Navbar
   */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
}

.navbar .form-control::placeholder {

    color: white;
    opacity: 1;

}



.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}



.active {
    color: rgb(221, 6, 6);
}

.nav-item:hover {
    background-color: #809ba7;
    /* Change background color on hover */
}

.nav-link:hover {
    color: #fff;
    /* Change text color on hover */
}

.search-container input[type="search"].form-control:focus {
    background-color: #7193b5;
    /* Change background color when focused */
}

.search-container {
    position: relative;
    cursor: pointer;
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    pointer-events: none;

}

.form-control {
    padding-right: 35px;
    border-radius: 50px;

}

.dark-mode .form-control {
    color: #fff;
    /* White color */
    background-color: #222831;
    /* Dark background color */
    border-color: #6c757d;
    /* Border color */
}


.alert {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/* Apply fade out animation when alert is dismissed */
.alert.hide {
    opacity: 0;
}

/* Add a slight delay before starting the fade out animation */
.alert.hide.delay {
    transition-delay: 1s;
    /* Delay for 1 second before starting the fade out */
}

/* Add margin to separate alerts */
.alert+.alert {
    margin-top: 10px;
}

.profile-card {

    margin-left: 240px;
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #16659E
}

h5 {
    font-weight: bold;
}



.breadcrumb .breadcrumb-item a {
    color: #007bff;
    /* Link color */
}

.breadcrumb .breadcrumb-item.active {
    font-weight: 500;
    color: #8ed5e8;
    /* Active item color */
}

/* Dark mode styles */
.dark-mode .breadcrumb {
    background-color: #222831;

}

.breadcrumb>li+li::before {
    color: #ffffff !important;
}



.table-striped tbody tr:nth-child(odd) td {
    background-color: #f8f9fa;

    font-weight: 400;

}


.dark-mode .table-striped tbody tr:nth-child(odd) td {
    background-color: #222831;

}

/* Light mode styles */
h4 {
    color: #000;
    /* Black color */
}

/* Dark mode styles */
.dark-mode h4 {
    color: #8ed5e8;
    /* White color */
}


/* Light mode styles */
.navbar {
    background-color: #16659e;
    /* Light mode background color */
}

/* Dark mode styles */
.dark-mode .navbar {
    background-color: rgba(4, 4, 4, 0.8);
    /* Dark mode background color */
}

/* Light mode styles */
.table-striped thead th {
    background-color: #f8f9fa;
    /* Light mode background color */
    color: #000;
    /* Light mode text color */
}

/* Dark mode styles */
.dark-mode .table-striped thead th {
    background-color: #222831;
    /* Dark mode background color */
    color: #fff;
    /* Dark mode text color */
}

/* Light mode styles */
.table td {

    color: #000;
    padding: 10px;
    text-align: center;
    /* Light mode text color */
}

/* Dark mode styles */
.dark-mode .table td {
    color: #fff;
    padding: 10px;
    text-align: center;
    /* Dark mode text color */
}

/* Light mode styles */
.list-group-item {
    background-color: #f8f9fa;
    /* Light mode background color */
    color: #000;
    /* Light mode text color */
}

/* Dark mode styles */
.dark-mode .list-group-item {
    background-color: #222831;
    /* Dark mode background color */
    color: #fff;
    /* Dark mode text color */
}

/* Light mode styles */
.dropdown-menu {
    background-color: #fff;
    /* Light mode background color */
    color: #000;
    /* Light mode text color */
}

/* Dark mode styles */
.dark-mode .dropdown-menu {
    background-color: #222831;
    /* Dark mode background color */
    color: #db0000;
    /* Dark mode text color */
}

.dark-mode .dropdown-menu,
.dark-mode .dropdown-menu a.dropdown-item {
    color: #fff;
    /* Set text color to white */
}

.dark-mode .form-check-label {
    color: #fff;
    /* Set text color to white for the switch label */
}

/* Light mode hover color */
.dropdown-menu li:hover {
    background-color: #ff0000;
    /* Red */
}

/* Dark mode hover color */
.dark-mode .dropdown-menu li:hover {
    background-color: #784141;
    /* Red */
}

/* Light mode hover color for list items with links */
.dropdown-menu li:hover a.dropdown-item {
    background-color: #744c4c;
    /* Red */
    color: #fff;
    /* White text color */
}

/* Dark mode hover color for list items with links */
.dark-mode .dropdown-menu li:hover a.dropdown-item {
    background-color: #c87474;
    /* Red */
    color: #fff;
    /* White text color */
}