@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    margin: 0;
    padding: 0;
    overflow: auto;
}

nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, #4caf6574, #1351a356);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    z-index: 1;
}
.logo {
  
    height:150px;
    width:150px; 
}
nav a:not(:last-child) {
    margin-right: 10px;
}
.search-form {
    display: flex;
    align-items: center;
    margin-right: 100px;
}
.search-form input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    
}
.search-form button {
    padding: 5px 10px;
    background-color: #0ed53a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
@media (max-width: 768px) {
    .search-form {
        margin-top: 10px;
    }
}
.social-icons {
    display: flex;
    align-items: center;
}

.social-icon {
    width: 30px; 
    margin-right: 0%;
}

nav a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    z-index: 1;
}

nav span {
    position: absolute;
    top: 0;
    left: 13.3%;
    width: 80px;
    height: 100%;
    background: linear-gradient(45deg, #70e040, #1bffff);
    border-radius: 8px;
    transition: left .5s ease, width .5s ease;
}


nav a:nth-child(2):hover~span {
    left: 13.3%;
    width: 80px;
    
    
   
}

nav a:nth-child(3):hover~span {
    left: 19.1%;
    width: 80px;
}

nav a:nth-child(4):hover~span {
    left: 25%;
    width: 115px;
}

nav a:nth-child(5):hover~span {
    left: 34%;
    width: 110px;
}

nav a:nth-child(6):hover~span {
    left: 42.8%;
    width: 80px;
}
nav a:nth-child(7):hover~span {
    left: 49.5%;
    width: 120px;
}
#hero-carousel {
   
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100vh - 50px);
    z-index: 0;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}
.carousel-caption {
    bottom: 70px;
}
.carousel-caption p,
.carousel-caption h1,
.carousel-caption button {
    margin-bottom: 20px;
}
.c-item {
    height: 100%;
    width: 100%;
  }
  
.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
    width: 100%;
    height: 100%;
    z-index: 1;
  }

.dropdown {
    position: relative;
    z-index: 9999; /* Ensure dropdown appears above other elements */
}