body {  
    background-image: url('/img/bg.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}




.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
  }
  
  .form-icon {
    position: absolute;
    width: 200px;
    height: auto;
    margin-bottom: 0px;
    left: 43.5%;
  bottom: 70%;
}
.form-header {
    text-align: center;
    margin-bottom: 20px; /* Add margin to create space between icon and title */
}
  .form {
    background: linear-gradient(to right, #0b0269, #038d3a);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  label {
    color: #fff; /* Change label text color to white */
}


label[for="email"],
label[for="nom"],
label[for="role"],
label[for="password"] {
    font-weight: bold; /* Optionally increase font weight for these labels */
    /* Add any other specific styling as needed */
}
  input[type="email"],
  input[type="password"],
  input[type="text"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;/* Set text color to white */
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    height: 45px; /* Change font family */
  }

  
  