<div class="container">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-lg-6">
            <div class="welcome-message text-center p-4">
                <h1 class="display-4">
                    <%= results[0].nom_utilisateur %>
                </h1>
                <p class="lead">Equipe: <%= eq[0].nom_eq %>
                </p>
                <img src="/images/<%= eq[0].logo_eq %>" alt="logo_eq" width="200px" height="200px">
            </div>
        </div>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>