<div class="container">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-lg-6">
      <div class="welcome-message text-center p-4">
        <h1 class="display-4">
          Bienvenue Mr. <%= results[0].nom_utilisateur %>
        </h1>
        <p class="lead">Equipe: <%= results[0].nom_eq %></p>
      </div>
    </div>
  </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
