<div class="col py-3">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/compteGestionnaire/<%= gestId %>">Accueil</a></li>
                    <li class="breadcrumb-item">Match en temps réeel</li>

                </ol>
            </nav>
        </div>

    </div>

</div>

<div class="d-flex justify-content-center align-items-center" style="height: 450px;">
    <div class="card" style="width: 800px;">
        <div class="card-header text-center">
            <i class="bi bi-info-circle"></i>
        </div>

        <div class="card-body">
            <h5 class="card-title text-center" style="font-size: 30px; font-weight: 900;">Vous n'avez aucune affectation
                pour le moment .</h5>

            <p class="card-text text-center" style="font-size: 16px;">
                Aller sur la page
                <a href="/voir_affectation/<%= gestId %>"
                    class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Affectation</a>
                pour voir les prochains match que vous avez a gérer👋👋

            </p>

        </div>
    </div>
</div>