<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png" href="LFW-R.png">
    <link rel="stylesheet" href="/css/actualite.css" />
    <title>LFW-Relizane</title>
</head>

<body>
    <div class="container-fluid">
        <nav>
            <a href="/">
                <img src="/img/LFW-R.png" alt="Logo" class="logo">
            </a>
            <a href="/">Home</a>
            <a href="/actualite">News</a>
            <a href="/calendrier">Calendrier</a>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false" style="background-color: transparent; border: none; font-weight: 600;">
                    Classement
                </button>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/classement">Classement</a></li>
                    <li><a class="dropdown-item" href="/stats">Statistiques</a></li>

                </ul>
            </div>
            <a href="/clubs">Clubs</a>
            <a href="/login">
                <% if (user) { %>

                    <a href="/profil">
                        <img src="/images/default.jpg" alt="" width="32" height="32" style="border-radius: 50%;">
                    </a>


                    <% } else { %>
                        <!-- If the user is not logged in, display the link to login -->
                        <a href="/login">Se connecter</a>
                        <% } %>
            </a>
            <form class="search-form" action="/chercher " method="POST">
                <input type="text" name="recherche" placeholder=" Search">
                <button id="searchBtn" type="submit">Search</button>
            </form>
            <div id="search-results"></div>
            <div class="social-icons">
                <a href="https://github.com/Muzanvillain" target="_blank" class="social-link">
                    <img src="/img/github.png" alt="Facebook" class="social-icon">
                </a>
                <a href="https://mail.google.com" target="_blank" class="social-link">
                    <img src="/img/gmail.png" alt="Gmail" class="social-icon">
                </a>
            </div>
            <span></span>
        </nav>
        <div class="news-container">
            <div class="news-title-container">
                <h2 class="news-title">Actualités de la ligue</h2>
            </div>
            <% article.forEach(function(articleItem) { %>
                <div class="news-article">
                    <img src="/img/<%= articleItem.image_art %>" alt="Article Image" class="news-image">
                    <div class="article-content">
                        <h3 class="article-title">
                            <%= articleItem.titre_art %>
                        </h3>
                        <p>
                            <% if(articleItem.date_art) { var dateOfBirthString=articleItem.date_art; var
                                dateOfBirth=new Date(dateOfBirthString); var formattedDateOfBirth=("0" +
                                dateOfBirth.getDate()).slice(-2) + "/" + ("0" + (dateOfBirth.getMonth() + 1)).slice(-2)
                                + "/" + dateOfBirth.getFullYear(); %>
                                <%= formattedDateOfBirth %>
                                    <% } else { %>
                                        null
                                        <% } %>
                        </p>
                    </div>
                </div>
                <% }); %>

                    <div class="news-article">
                        <img src="blog1.jpg" alt="Article 1" class="news-image">
                        <div class="article-content">
                            <h3 class="article-title">Article Title 1</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="news-article">
                        <img src="blog1.jpg" alt="Article 1" class="news-image">
                        <div class="article-content">
                            <h3 class="article-title">Article Title 1</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="news-article">
                        <img src="blog1.jpg" alt="Article 1" class="news-image">
                        <div class="article-content">
                            <h3 class="article-title">Article Title 1</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="news-article">
                        <img src="blog1.jpg" alt="Article 1" class="news-image">
                        <div class="article-content">
                            <h3 class="article-title">Article Title 1</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>








                    <div class="pagination">
                        <a href="#">◄</a>
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">►</a>
                    </div>
        </div>

    </div>

    <script>
        // Get all the news articles
        const newsArticles = document.querySelectorAll('.news-article');

        // Loop through each news article to add click event listener
        newsArticles.forEach(article => {
            article.addEventListener('click', () => {
                // Get the article ID
                const articleId = article.dataset.articleId;
                // Redirect to news_details.html with the article ID as a query parameter
                window.location.href = "/article"
            });
        });
    </script>

</body>

</html>